.searchForm {
  width: 400px;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  width: 98%;
  margin-top: 0.5rem;
  min-height: 36px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px;
  outline: none;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorBox{
  display: grid;
  place-content: center;
  width: 400px;
  height: 400px;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px;
  border: 2px solid black;
}